# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
.pnpm-store/

# Expo & EAS
.expo/
dist/
web-build/
expo-env.d.ts
.eas/
*.apk
*.aab
*.ipa
*.tar.gz

# Native generated folders & build artifacts
/ios/
/android/
.kotlin/
.gradle/
build/
*.orig.*

# Security & Signing Keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.keystore
*.pepk

# Metro & Bundler
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Environment variables
.env
.env*.local

# macOS & System files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# IDE & Editor files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

